
@{
    ViewBag.Title = "Index";
}

<h2>Добро пожаловать на страницу международных соревнований DBI 2019</h2>

@Html.ActionLink("Войти в аккаунт", "Login", "Account")

@Html.ActionLink("Зарегистрировать аккаунт", "Signup", "Account")
